Django==1.8.5
django-allauth==0.23.0
django-cors-headers==1.1.0
django-rest-auth==0.5.0
djangorestframework==3.2.4
oauthlib==1.0.3
python-openid==2.2.5
requests==2.8.0
requests-oauthlib==0.5.0
six==1.10.0
